a{
    color: red;
}

body{
    background: yellow;
}

.box {
    margin-top: 200px;
    margin-left: 200px;
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid red;
    background: red;
    display: block;
    font-size: 50px;
}

!.box{
    text-transform: uppercase;
    text-decoration-color: red;
}

.box > a:hover{
    color: black;
    cursor: pointer;
}